.subscribe {
  margin-bottom: 150px;
}
.subscribe-input {
  border: 1px solid var(--white-full);
  background-color: var(--dark);
  width: 560px;
  height: 60px;
  margin-right: 36px;
  padding: 16px 32px;
}
.subscribe-button {
  width: 224px;
  height: 60px;
}

.modal-content.subscribe {
  background-color: var(--bg-card);
  height: 150px;
  width: 350px;
}

.form-subscribe {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .subscribe {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 132px;
  }
  .subscribe-input {
    border: 1px solid var(--white-full);
    width: 100%;
    height: 60px;
    margin-right: 0;
  }
  .subscribe-button {
    width: 100%;
    height: 60px;
  }

  .modal-content.subscribe {
    width: 320px;
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .modal-content.subscribe {
    height: 120px;
    width: 280px;
    font-size: 12px;
  }
}
